<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright 2023 • All rights reserved • Staycation</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->